body{
 background-color: black;
 color: white;
}

.popup {
    position: fixed;
    left: 10px;
    bottom: 20px;
    background: #cff122;
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 12px black;
    font-weight: 800;
    font-family: system-ui;
    background-image: url(https://www.w3schools.com/css/ocean.jpg);
    box-shadow: 7px 7px #b7d131;
    transform: translateX(-120%);
    animation: slideInOut 8s ease-in-out forwards;
    animation-delay: 2s;
}


@keyframes slideInOut {
    0% {
        transform: translateX(-120%);
    }
    20% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-120%);
    }
}
  .button{
    background: #000000;
    padding: 10px 10px 10px 10px;
    position: absolute;
    width: 100px;
    height: 25px;
    border-radius: 30px;
    border: 2px white solid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-family: system-ui;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
